body {
  background-color: #212427;
}

h4 {
  margin-top: 25px;
  text-align: center;
  color: white;
}

.outer {
  width: 100%;
}

.col-sm-10 {
  display: flex;
  width: 70%;
  margin: 0 auto;
}

#show-weather {
  margin-left: 20px;
}
